/*RESET */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*COMMON */
.container{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    
}

/*HEADER */

header{
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
    background-size: 30%;
}

.logo{
    height: 50px;
    margin-top: 50px;
}

.article-info{
    color: gray;
    font-weight: 500;
}

#author-name{
    color: rgb(64, 173, 224);
}

#date{
    font-size: 12px;
}

#img-source{
    font-size: 10px;
}



#highlited-text{
    background-color: yellow;
}

.container ul{
    margin-left: 20px;
}

#suggeriti-1{
    background-image: url("../img/monitor.jpg");
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

#suggeriti-2{
    background-image: url("../img/graph.jpg");
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
    font-size: 10px;
}

th{
    text-align: left;
    background-color: rgb(21, 208, 233);
}

.wide-th{
    width: 50%;
}

.colored td{
    background-color: rgb(200, 244, 255);
}

div h3{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}